    
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index_url' %}">
        <img src="https://ifh.cc/g/vkqOqt.png" class="img-fluid transparency-grid" ondragstart="return false;" data-hj-suppress="true" data-v-1ab68894="" style="max-width: 35%; height: auto;">
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <!-- <li class="nav-item active">
        <a class="nav-link" href="{% url 'index_url' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li> -->

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        Interface
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="{% url 'users:buttons_url' %}">Buttons</a>
            <a class="collapse-item" href="{% url 'users:cards_url' %}">Cards</a>
          </div>
        </div>
      </li> -->

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index_url' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>대시보드</span></a>
      </li>
            
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:tables_url' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>출생아 수 예측</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>학생 수 예측</span>
        </a>
        <div id="collapseUtilities1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">학교별</h6>
            <a class="collapse-item" href="{% url 'users:tables1_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables1_1_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables2_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables3_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables4_url' %}">SSM 모델</a>
          </div>
        </div>
        <div id="collapseUtilities1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">지역별</h6>
            <a class="collapse-item" href="{% url 'users:tables5_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables5_1_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables6_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables7_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables8_url' %}">SSM 모델</a>
          </div>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>학급 수 산정</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">초등학교</h6>
            <a class="collapse-item" href="{% url 'users:tables9_url' %}">저위추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables9_1_url' %}">저위추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables9_2_url' %}">무이동추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables9_3_url' %}">무이동추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables9_4_url' %}">중위추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables9_5_url' %}">중위추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables10_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables11_url' %}">SSM 모델</a>
          </div>
        </div>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">중학교</h6>
            <a class="collapse-item" href="{% url 'users:tables12_1_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables12_2_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables12_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables13_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables14_url' %}">SSM 모델</a>
          </div>
        </div>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">고등학교</h6>
            <a class="collapse-item" href="{% url 'users:tables15_1_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables15_2_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables15_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables16_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables17_url' %}">SSM 모델</a>
          </div>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities3" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>교원 수 산정</span>
        </a>
        <div id="collapseUtilities3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">초등학교</h6>
            <a class="collapse-item" href="{% url 'users:tables18_url' %}">저위추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables18_1_url' %}">저위추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables18_2_url' %}">무이동추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables18_3_url' %}">무이동추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables18_4_url' %}">중위추계_기본</a>
            <a class="collapse-item" href="{% url 'users:tables18_5_url' %}">중위추계_공동주택반영</a>
            <a class="collapse-item" href="{% url 'users:tables19_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables20_url' %}">SSM 모델</a>
          </div>
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">중학교</h6>
            <a class="collapse-item" href="{% url 'users:tables21_1_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables21_2_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables21_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables22_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables23_url' %}">SSM 모델</a>
          </div>
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">고등학교</h6>
            <a class="collapse-item" href="{% url 'users:tables24_1_url' %}">저위추계</a>
            <a class="collapse-item" href="{% url 'users:tables24_2_url' %}">무이동추계</a>
            <a class="collapse-item" href="{% url 'users:tables24_url' %}">중위추계</a>
            <a class="collapse-item" href="{% url 'users:tables25_url' %}">CRU 모델</a>
            <a class="collapse-item" href="{% url 'users:tables26_url' %}">SSM 모델</a>
          </div>
        </div>
        
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:simulation_close_url' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>적정 교원 배치 계획</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities4" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-table"></i>
          <span>교통 인프라 분석</span>
        </a>
        <div id="collapseUtilities4" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">지역별</h6>
            <a class="collapse-item" href="{% url 'users:utables17_1_url' %}">남구</a>
            <a class="collapse-item" href="{% url 'users:utables18_1_url' %}">달서구</a>
            <a class="collapse-item" href="{% url 'users:utables19_1_url' %}">달성군</a>
            <a class="collapse-item" href="{% url 'users:utables20_1_url' %}">동구</a>
            <a class="collapse-item" href="{% url 'users:utables21_1_url' %}">북구</a>
            <a class="collapse-item" href="{% url 'users:utables22_1_url' %}">서구</a>
            <a class="collapse-item" href="{% url 'users:utables23_1_url' %}">수성구</a>
            <a class="collapse-item" href="{% url 'users:utables24_1_url' %}">중구</a>
          </div>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'users:map_view_url' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>시각화</span></a>
      </li> -->
      
      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Heading -->
      <!-- <div class="sidebar-heading"> -->
        <!-- Addons -->
      <!-- </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="{% url 'users:login_url' %}">Login</a>
            <a class="collapse-item" href="{% url 'users:register_url' %}">Register</a>
            <a class="collapse-item" href="{% url 'users:forgot_password_url' %}">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="{% url 'users:page_not_found_url' %}">404 Page</a>
            <a class="collapse-item" href="{% url 'users:blank_page_url' %}">Blank Page</a>
          </div>
        </div>
      </li> -->



      <!-- Nav Item - Charts -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'users:charts_url' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li> -->

      <!-- Nav Item - Tables -->

      <!-- Nav Item - Tables -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'users:tables1_url' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Students Forcast of Region</span></a>
      </li> -->
      
      <!-- Nav Item - Tables -->

      <!-- Nav Item - Dashboard -->


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>