{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}



{% block container_fluid %}

<script>

function send() {
    // alert("시뮬레이션 진행 중");
    document.getElementById("contents").submit();
}

function categoryChange(e) {
    var good_a = ["5000", "7000", "6000"];
    var good_b = ["6000", "7000", "8000", "9000"];
    var target = document.getElementById("prelevel");

    if(e.value == "초등학교") var d = good_a;
    else if(e.value == "중학교") var d = good_b;
    
    target.options.length = 0;
    
    for (x in d) {
        var opt = document.createElement("option");
        opt.value = d[x];
        opt.innerHTML = d[x];
        target.appendChild(opt);
    }    
} 

</script>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">적정 교원 배치 계획</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <form id="contents" name="contents" method="get" action="{% url 'users:simulation_close_results_url' %}">
                            {% csrf_token %}
                            <p>
                            <label for="schoollevel">학교 유형 선택 : </label>
                            <select id="schoollevel" name="schoollevel" onchange="categoryChange(this)">
                                <option>선택해주세요</option>
                                <option value="초등학교">초등학교</option>
                                <option value="중학교">중학교</option>
                            </select>
                            </p>

                            <p>
                            <label for="prelevel">2042년 기준 교원 수 : </label>
                            <select id="prelevel" name="prelevel">
                                <option>선택해주세요</option>
                            </select>
                            </p>
                            <button type="button" onclick="send();">결과</button>

                        </form>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}