{% extends 'base.html' %}
{% load static %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">초등학교 학급당 인원 배분에 따른 교원수</h1>
    <p class="mb-4">중위추계 기반 공동주택반영 교원수</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>학급당 인원 배분</th>
                            <th>2024</th>
                            <th>2025</th>
                            <th>2026</th>
                            <th>2027</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for db in df %}
                            <tr>
                                <td>{{ db.학급당인원배분 }}</td>
                                <td>{{ db.2024 }}</td>
                                <td>{{ db.2025 }}</td>
                                <td>{{ db.2026 }}</td>
                                <td>{{ db.2027 }}</td>
                            </tr>
                        {% endfor %}                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}

