{% extends 'base.html' %}
{% load static %}

{% load staticfiles %}

{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">출생아 수 예측</h1>
    <p class="mb-4">대구광역시 10개년 출생아 수 예측</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>출생년도</th>
                            <th>입학년도</th>
                            <th>무이동추계</th>
                            <th>저위추계</th>
                            <th>중위추계</th>
                            <th>CRU모델</th>
                            <th>SSM모델</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for db in df %}
                            <tr>
                                <td>{{ db.출생년도 }}</td>
                                <td>{{ db.입학년도 }}</td>
                                <td>{{ db.무이동 }}</td>
                                <td>{{ db.저위 }}</td>
                                <td>{{ db.중위 }}</td>
                                <td>{{ db.CRU }}</td>
                                <td>{{ db.SSM }}</td>
                            </tr>
                        {% endfor %}                      
                    </tbody>
                </table>
                <div>
                    <script type="text/javascript">
                        // JSON 데이터를 파싱
                        var data ='{{ df|safe }}';
                        var chart = new CanvasJS.Chart("chartContainer", {
                            title: {
                                text: "멀티 라인 차트"
                            },
                            axisY: {
                                title: "값"
                            },
                            toolTip: {
                                shared: true
                            },
                            data: [
                                {
                                    type: "line",
                                    name: "{{ series1_name }}",
                                    showInLegend: true,
                                    dataPoints: data.map(function(item) {
                                        return { x: new Date(item.출생년도), y: item.통계청 };
                                    })
                                },
                                {
                                    type: "line",
                                    name: "{{ series2_name }}",
                                    showInLegend: true,
                                    dataPoints: data.map(function(item) {
                                        return { x: new Date(item.출생년도), y: item.저위 };
                                    })
                                },
                                {
                                    type: "line",
                                    name: "{{ series3_name }}",
                                    showInLegend: true,
                                    dataPoints: data.map(function(item) {
                                        return { x: new Date(item.출생년도), y: item.중위 };
                                    })
                                },
                                {
                                    type: "line",
                                    name: "{{ series4_name }}",
                                    showInLegend: true,
                                    dataPoints: data.map(function(item) {
                                        return { x: new Date(item.출생년도), y: item.CRU };
                                    })
                                },
                                {
                                    type: "line",
                                    name: "{{ series5_name }}",
                                    showInLegend: true,
                                    dataPoints: data.map(function(item) {
                                        return { x: new Date(item.출생년도), y: item.SSM };
                                    })
                                }
                            ]
                        });

                        chart.render();
                </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}