{% extends 'base.html' %}
{% load static %}

{% load staticfiles %}
{% block title %} Tables {% endblock %}


{% block css %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block container_fluid %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">지역별 공동주택과 학교와의 교통 인프라 분석</h1>
    <p class="mb-4">중구 내 공동주택 별 최단거리 학교와의 교통 인프라 분석 결과</p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th> 1</th>
                            <th> 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>
                            <img src="{% static '/resource/img/중구/image01.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image02.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image03.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image04.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image05.png' %}", width = "500" alt="tt">
                        </td>
                        <td>
                            <img src="{% static '/resource/img/중구/image06.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image07.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image08.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image09.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/중구/image10.png' %}", width = "500" alt="tt">
                            <img src="{% static '/resource/img/동구/image17.png' %}", width = "500" alt="tt">
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_body %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}

